@define-color bg    #282828; 
@define-color fg    #ebdbb2; 
@define-color blk   #000000; 
@define-color red   #cc241d; 
@define-color grn   #98971a; 
@define-color ylw   #d79921; 
@define-color blu   #458588; 
@define-color mag   #b16286; 
@define-color cyn   #83a598; 
@define-color brblk #444b6a; 
@define-color white #ebdbb2; 

* {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @bg;
}

#clock,
#custom-sep,
#cpu,
#custom-gpu-usage,
#memory,
#network,
#tray {
    padding: 0 2px;
}

#clock {
    color: @bg;
    border-top: 0px solid @cyn;
    background-color: @grn;
}
#memory {
    color: @bg;
    border-top: 0px solid @mag;
    background-color: @grn;
}
#cpu {
    color: @bg;
    border-top: 0px solid @grn;
    background-color: @grn;
}
#custom-gpu-usage {
    color: @bg;
    border-top: 0px solid @ylw;
    background-color: @grn;
}
#custom-vpn {
    color: @bg;
    border-top: 0px solid @ylw;
    background-color: @grn;
}
#network {
    color: @bg;
    border-top: 0px solid @blu;
    background-color: @grn;
}
#network.disconnected {
    background-color: @red;

}
#tray {
    background-color: @grn;
}
